/* CONTACT */
#main .contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
#main .contact-container .row {
  padding: 1rem;
}
#main .contact-container form {
  background-color: #393E46;
  border: #00ADB5 groove .1rem;
  border-radius: 1rem;
  padding: 7rem;
  box-shadow: inset 0rem 1rem 0rem rgba(0, 173, 181, 1);
  transition: box-shadow .32s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  /* ON HOVER */
  &:hover {
    box-shadow: none;
  }
}
@media screen and (max-width: 575.98px) {
  #main .contact-container form {
    padding: 4rem;
  }
  #navbar .row {
    flex-direction: column;
    gap: 1rem;
  }
}