/* PROJECTS */
#main .projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
#main .projects-container .row {
  padding: 4rem;
  border: #00ADB5 groove .1rem;
  border-radius: 1rem;
}